html {
  font-size: 16px;
  color: #333333;
  font-family: "Noto Sans SC";
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

p {
  line-height: 1.7rem;
}

p code {
  margin: 0 .2rem;
  background-color: #b3d5ef;
}

a {
  text-decoration: none;
}

/* 滚动条 */
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar-thumb {
  height: 40px;
  background-color: #ccc;
  border-radius: 16px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

header {
  width: 100%;
  margin-top: 1rem;
}

footer {
  padding: .5rem;
  width: auto;
  text-align: center;
}

/* 头部导航 */
.navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.navigation > li {
  display: inline;
  background-color: #414141;
  margin: .6rem;
}

.navigation > li > a {
  line-height: 1.6rem;
  margin: .2rem;
  min-width: 3rem;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.navigation > li:hover {
  background-color: rgb(248, 57, 130);
}

/* 首页 */
/* 文章列表页 */
.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  margin: 2rem 7rem 0 7rem;
}

/* 文章方块 */
.article-list .cube {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 16rem;
  height: 16rem;
  margin: 1rem;
  border: .2rem solid #414141;
  text-decoration: none;
}

.article-list > i {
  min-width: 16rem;
  margin: 1rem;
  border: .2rem solid transparent;
}

/* 分类 */
.cube > .category {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #414141;
  color: aliceblue;
  max-width: 33%;
  padding: .1rem .4rem;
}

.cube:hover {
  border-color: rgb(248, 57, 130);
  transition: .4s;
}

.cube:hover > .category {
  background-color: rgb(248, 57, 130);
  transition: .4s;
}

.cube:hover > .bottom > .time {
  color: rgb(248, 57, 130);
  transition: .4s;
}

.cube:hover > .bottom > .title {
  color: rgb(248, 57, 130);
  transition: .4s;
}

/* 时间和文章标题 */
.cube > .bottom {
  width: 100%;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  margin: 0 .6rem .4rem .4rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cube > .bottom > .time {
  width: 100%;
  text-align: right;
  font-size: 1.2rem;
  margin-bottom: .1rem;
  color: #414141;
}

.cube > .bottom > .title {
  width: 100%;
  text-align: right;
  max-height: 4.2rem;
  line-height: 1.4rem;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  color: #414141;
}

/* 分页 */
.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination > a {
  line-height: 1.5rem;
  background-color: transparent;
  width: 1.6rem;
  margin: 0 .4rem;
  text-align: center;
  transition: .4s;
}

.pagination > a:hover {
  background-color: #bbdffd;
}

.pagination > .current {
  border-bottom: 1px solid #515151;
}

/* 文章 */
.article-body, .page-body {
  width: 100%;
}

.bg {
  background-size: cover;
  top: 0;
  opacity: .4;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  background-image:url('https://i.loli.net/2019/12/31/Iv3BsdbR1FYGAh2.jpg');
}

.article, .page {
  display: flex;
  justify-content: center;
}

article, .page-info {
  width: 50vw;
  margin: 2rem 7rem 0 7rem;
}

article .title, .page-info .title {
  margin-bottom: .2rem;
  font-size: 1.7rem;
  text-align: center;
}

article .article-meta, .page-info .page-meta {
  text-align: center;
  margin-bottom: 1.6rem;
  font-size: .9rem;
  color: #515151;
}

article .article-meta time, .page-info .page-meta time {
  margin-right: .2rem;
}

article .article-meta a {
  border: none;
  color: #515151;
  margin-left: .2rem;
}

article .article-meta a:hover {
  border-bottom: 1px solid #515151;
  background: none;
}

article p, .page-info p {
  margin-top: 0;
  margin-bottom: 1.24rem;
}

article blockquote, .page-info blockquote {
  border-left: 4px solid #414141;
}

article blockquote > p, .page-info blockquote > p {
  margin-left: .4rem;
}

article ul, .page-info ul {
  padding-left: 1rem;
  margin: 0 0 2rem .2rem;
}

article ol, .page-info ol {
  padding-left: 1rem;
  margin: 0 0 2rem .2rem;
}

hr {
  border-radius: 16px;
  margin: 2rem auto 2rem;
  width: 40%;
  border: 0 none;
  border-top: 4px solid #999;
}

article a, .page-info a {
  text-decoration: none;
  color: #414141;
  border-bottom: 2px solid #4badff;
}

article a:hover, .page-info a:hover {
  transition: .6s;
  background-color: #4badff;
}

article pre {
  padding: .6rem 0;
  font-size: .9rem;
}

article pre code {
  border-left: 4px solid #999;
  background-color: #eef3f6;
  overflow: auto;
  max-height: 40vh;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 800;
}

/* 滚动条 */
article pre code::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
article pre code::-webkit-scrollbar-thumb {
  height: 40px;
  background-color: #533652;
  border-radius: 16px;
}
article pre code::-webkit-scrollbar-thumb:hover {
  background-color: #947292;
}

article table {
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #f5fbff;
}

article table th {
  padding: .2rem 0 .2rem;
  border: 1px solid #414141;
}

article table td {
  padding: .2rem 0 .2rem;
  border: 1px solid #414141;
}

article table tbody tr:nth-child(odd) {
  background-color: #daf1ff;
}

article table tbody tr:nth-child(even) {
  background-color: #b8e3ff;
}

article img, .page-info img {
  max-width: 100%;
  max-height: 40vw;
}

article .tags {
  margin-bottom: 1.24rem;
}

article .tags span {
  margin-right: .4rem;
}

article .tags a {
  text-decoration: none;
  color: #515151;
  margin-left: .2rem;
}

article .tags a::before {
  content: "#";
}

.book-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-dialog .el-dialog {
  width: 40%;
}

.book-dialog a {
  color: #606266;
  border-bottom: 1px solid;
}

.preface {
  width: auto; 
  text-align: center;
  margin: 2rem 2rem 0 2rem;
}

.book-info  h2 {
  width: 100%;
  text-align: center;
}

.book-info .book-list {
  width: 60vw;
  margin: 0 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-info .book-list a {
  background-color: #d3d3d3;
  width: 8vw;
  margin: 1rem 3rem;
}

.book-info .book-list i {
  margin: 0 3rem;
  width: 8vw;
}

.book-info .book-list .book-image {
  padding-top: 130%;
  background-size: cover;
  background-repeat: no-repeat;
}

.book-info .book-list .book-title {
  text-align: center;
  margin: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}

.link-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.link-list ul {
  margin: 3rem 7rem;
  width: 50vw;
  padding: .4rem .8rem;
}

.link-list li {
  margin: .3rem 0;
}

.link-list a {
  text-decoration: none;
  color: rgb(248, 57, 130);
}

.archive {
  width: 100%;
  display: flex;
  justify-content: center;
}

.archive-list {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
}

.archive-list .item {
  width: 100%;
}

.archive-list h3 {
  width: 100%;
}

.archive-list ul {
  width: 100%;
  margin: 0 2rem;
}

.archive-list li {
  margin: .3rem 0;
}

.archive-list a {
  text-decoration: none;
  margin-left: .4rem;
  color: rgb(248, 57, 130);
}


@media screen and (max-width: 1400px) {
  article, .page-info {
    width: 65vw;
  }
}

@media screen and (max-width: 1240px) {
  .book-info .book-list {
    margin: 0;
    width: 90vw;
  }

  .link-list li {
    margin: .3rem 0;
    width: 80%;
    word-wrap: break-word;
  }

  .archive-list li {
    margin: .3rem 0;
    width: 80%;
    word-wrap: break-word;
  }

  .book-info .book-list .book-title {
    margin: .3rem 2rem;
  }

  .book-info .book-list a {
    width: 16vw;
  }

  .book-info .book-list i {
    width: 16vw;
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: .8rem;
  }

  body {
    margin: 0;
  }

  body > div {
    width: 100%;
    max-width: 100%;
  }

  .article-list {
    margin: 0;
  }

  .book-dialog .el-dialog {
    width: 80%;
  }

  .book-info .book-list .book-title {
    max-width: 40vw;
    min-width: 30vw;
  }

  article, .page-info {
    width: 100%;
    margin: 0;
    padding: 0 .4rem;
    box-sizing: border-box;
  }
  article img, .page-info img {
    max-height: 60vw;
  }

  .preface {
    margin: 2rem .4rem .4rem;
  }

  .book-info .book-list {
    margin: 0;
  }

  .book-info .book-list i {
    margin: 0;
    width: 0;
  }

  .book-info .book-list a {
    width: auto;
  }

  .link-list ul {
    width: 100%;
    margin: 3rem 0;
  }

  .archive-list {
    width: 100%;
    margin: 0 .8rem;
  }

  .archive-list ul {
    width: 100%;
    margin: .2rem 0;
  }
}

.go-back {
  border-bottom: 2px solid #8dcbff;
}

.go-back:hover {
  background-color: #8dcbff;
}

.admin-body {
  height: 100%;
  width: 100vw;
}

.content-box {
  position: absolute;
  left: 250px;
  right: 0;
  top: 70px;
  bottom: 0;
  padding-bottom: 30px;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
  background: #f0f0f0;
}

.content {
  width: auto;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.content-collapse {
  left: 65px;
}

.container {
  padding: 30px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.crumbs {
  margin: 10px 0;
}

.pagination {
  margin: 20px 0;
  text-align: right;
}

.plugins-tips {
  padding: 20px 10px;
  margin-bottom: 20px;
}

.el-button+.el-tooltip {
  margin-left: 10px;
}

.el-table tr:hover {
  background: #f6faff;
}

.mgb20 {
  margin-bottom: 20px;
}

.move-enter-active,
.move-leave-active {
  transition: opacity .5s;
}

.move-enter,
.move-leave {
  opacity: 0;
}

/*BaseForm*/

.form-box {
  width: 600px;
}

.form-box .line {
  text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
  margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
  padding-bottom: 0;
}

/*Upload*/

.pure-button {
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
}

.g-core-image-corp-container .info-aside {
  height: 45px;
}

.el-upload--text {
  background-color: #fff;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  box-sizing: border-box;
  width: 360px;
  height: 180px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.el-upload--text .el-icon-upload {
  font-size: 67px;
  color: #97a8be;
  margin: 40px 0 16px;
  line-height: 50px;
}

.el-upload--text {
  color: #97a8be;
  font-size: 14px;
  text-align: center;
}

.el-upload--text em {
  font-style: normal;
}

/*VueEditor*/

.ql-container {
  min-height: 400px;
}

.ql-snow .ql-tooltip {
  transform: translateX(117.5px) translateY(10px) !important;
}

.editor-btn {
  margin-top: 20px;
}

/*markdown*/

.v-note-wrapper .v-note-panel {
  min-height: 500px;
}

.page-header {
  margin-bottom: 10px;
}

.table-column-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-pagination {
  margin-top: 14px;
}

/* 
.top {
  position: absolute;
  bottom: .2rem;
  right: .4rem;
}

.top > p {
  transition: 1s;
} */